.home {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 70rem;
    width: 100%;
}

.home img {
    border: 3px solid blue;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 300px;
    object-fit: cover;
}

form {
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#search {
    display: block;
    margin: auto;
    margin-top: 30px;
}

h1 {
    color: violet;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: violet;
    font-size: 25px;
    text-align: center;
}

h3 {
    color: white;
    font-size: 15px;
}

.detailAdd {
    margin-inline: 5px;
}

li {
    list-style-type: none;
    color:white
}

span {
    color: grey
}

p {
    color: white;
}