<h2>Search your Superhero</h2>
<form [formGroup]="buscador" (ngSubmit)="btnSearchOnClick()">
    <input formControlName="name" type=text autofocus>
    <button id="search" [disabled]="buscador.invalid" type="submit" class="btn btn-danger">SEARCH</button>
</form>
<div class="home">
    <div *ngFor="let superheroe of superheroes">
        <img style="width: 200px;" [src]="superheroe.image.url">
        <h3>{{superheroe.name}}</h3>
        <button (click)="agregarSuperheroe(superheroe)" class="btn btn-success">Add</button>
        <button (click)="compartirDatosServicio()" class="btn btn-primary detailAdd"
            [routerLink]="['/superheroe', superheroe.id]">Detail</button>
    </div>
</div>
<h1>Superhero Team</h1>
<div id="averages">
    <p>Average Team Weight {{averageWeight}} kg</p>
    <p>Average Team Height {{averageHeight}} cm</p>
    <div *ngFor="let powerstat of arrayPowerstats">
        <ul>
            <li>{{powerstat[0].replace(",","")}} {{powerstat[1]}}</li>
        </ul>
    </div>
</div>

<div class="home">
    <div *ngFor="let superheroe of team">
        <img style="width: 200px;" [src]="superheroe.image.url">
        <h3>{{superheroe.name}}</h3>
        <ul>
            <li><span>Combat:</span> {{superheroe.powerstats.combat}}</li>
            <li><span>Durability:</span> {{superheroe.powerstats.durability}}</li>
            <li><span>Intelligence:</span> {{superheroe.powerstats.intelligence}}</li>
            <li><span>Power:</span> {{superheroe.powerstats.power}}</li>
            <li><span>Speed:</span> {{superheroe.powerstats.speed}}</li>
            <li><span>Strength:</span> {{superheroe.powerstats.strength}}</li>
        </ul>
        <button (click)="compartirDatosServicio()" class="btn btn-primary detailAdd"
            [routerLink]="['/superheroe', superheroe.id]">Detail</button>
        <button (click)="borrarSuperheroe(superheroe)" class="btn btn-danger detailAdd">Delete</button>
    </div>
</div>